.navbar-container {
    background-color: #084986;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    gap: 50px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    color: white;
}

.text-title {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #b0d4f1;
}