.cadastro-container form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* espaço entre os inputs */
  max-width: 400px; /* opcional para limitar largura */
  margin: 0 auto; /* centraliza horizontalmente */
}

.btn-cadastrar {
  margin-top: 20px; /* espaço acima do botão */
  padding: 10px;
  width: 100%; /* botão ocupa toda largura do formulário */
  cursor: pointer;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
